
style "button"
{
	GtkButton::child_displacement_x = 1
	GtkButton::child_displacement_y = 1

	xthickness=2
	ythickness=2
  	
  	fg[NORMAL]="#f0f0f0"
	fg[ACTIVE]="#f0f0f0"
	fg[PRELIGHT]="#ffc403"
	text[NORMAL]="#000000"
	text[PRELIGHT]="#ffc403"
	text[ACTIVE]="#c0c0c0"


	engine "pixmap"
		{

		image
			{
				function=BOX
				detail="buttondefault"
				file="button-default.png"
				border={ 6, 6, 6, 6 }
				stretch	=TRUE
				}
		image 
			{
				function=BOX
				state=NORMAL
				file="button-normal.png"
				border={ 6, 7, 6, 7 }
				stretch=TRUE
			}	

		image
			{
				function=BOX
				shadow=OUT
				state= PRELIGHT
				file="button-prelight.png"
				border={ 6, 7, 6, 7 }
				stretch=TRUE
			}

		image
			{
				function=BOX
				shadow=IN
				state=PRELIGHT
				file="button-prelight-in.png"
				border={ 6, 7, 6, 7 }
				stretch=TRUE
			}

		image
			{
				function= BOX
				state=ACTIVE
				file="button-pressed.png"
				border={ 8, 8, 7, 7 }
				stretch=TRUE
			}	

		image 
			{
				function=BOX
				shadow=OUT
				state=INSENSITIVE
				file="button-normal-ia.png"
				border={ 6, 7, 6, 7 }
				stretch=TRUE
			}

		image 
			{
				function=BOX
				shadow=IN
				state=INSENSITIVE
				file="button-normal-in-ia.png"
				border={ 6, 7, 6, 7 }
				stretch=TRUE
			}
		}
}

