
style	"menusep"
{
	GtkWidget::wide-separators=1
	GtkWidget::separator-height=7

	engine "pixmap"
		{
			image
				{
					function=BOX
					file="menusep.png"
					stretch=TRUE
					border={ 0, 0, 0, 0 }
				}
		}
}
class "GtkSeparatorMenuItem" style "menusep"

style "menuitem"
{
	engine "pixmap"
		{
			image
				{
					function=BOX
					file="menuitem.png"
					stretch=TRUE
				}
		}
}
class "GtkMenuItem" style "menuitem"

style	"menubar"
{
	fg[NORMAL]="#000000"
	fg[PRELIGHT]="#404040"

	engine "pixmap"
		{
			image
				{
					function=BOX
					file="menubar.png"
					border={2,2,2,2}
					stretch=FALSE
				}
		}
}
class "GtkMenuBar*" style "menubar"

style "menu"
{
	engine "pixmap"
		{
			image 
				{
					function=BOX
					state=NORMAL
					file="menu.png"
					border={0,0,0,0}
					stretch	=FALSE
				}	
		}
}
class "GtkMenu" style "menu"

