style "button"
{
	fg[NORMAL]="#000000"
	fg[ACTIVE]="#000000"

	engine "pixmap"
		{
			image
				{
					function=BOX
					detail="buttondefault"
					file="button-default.png"
					border={10,10,9,11}
					stretch=TRUE
				}
			image 
				{
					function=BOX
					state=NORMAL
					file="button-normal.png"
					border={10,10,9,11}
					stretch=TRUE
				}
			image
				{
					function=BOX
					shadow=OUT
					state=PRELIGHT
					file="button-prelight.png"
					border={10,10,9,11}
					stretch=TRUE
				}
			image
				{
					function=BOX
					shadow=IN
					state=PRELIGHT
					file="button-prelight-in.png"
					border={10,10,9,11}
					stretch=TRUE
				}
			image
				{
					function=BOX
					state=ACTIVE
					file="button-pressed.png"
					border={10,10,9,11}
					stretch=TRUE
				}
			image 
				{
					function=BOX
					shadow=OUT
					state=INSENSITIVE
					file="button-normal-ia.png"
					border={10,10,9,11}
					stretch=TRUE
				}
			image 
				{
					function=BOX
					shadow=IN
					state=INSENSITIVE
					file="button-normal-in-ia.png"
					border={10,10,9,11}
					stretch=TRUE
				}
		}
}
